/* Container styles */
.container {
  display: flex;
flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  
}

/* Section title styles */
.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}
.share-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:2rem;

}
.share-section-left{
  width: 50%;
}
.badge{
background-image: linear-gradient(to right, #FB432C, #FF591E);
padding: 0.8rem;

border-radius: 25px;
}
/* Description paragraph styles */
.description {
  font-size: 1rem;
  color: #555;
  margin: 1rem 0;
}

/* Features list styles */
.features {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.feature {
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

/* Link styles */
.link {
  font-size: 1rem;
  color: #f04545;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

/* Code block styles */
.code-block {
  background: #000000;
  padding: 1rem;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  margin-top: 1rem;
  overflow-x: auto;
  color: white;
  margin: 3rem;
  
}


.feedback-section {


 
 padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
justify-content: space-between;
gap:2rem

  
}
.feedback-section-left{
  width: 50%;
  padding: 2rem;
}

.code-block-container{
  display: flex;
  align-items: center;
  justify-content: center;
 /* width: 80%; */
 
}
/* Feedback list styles */
.feedback-list {
  margin-top: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 15px;
  color: white;
  margin:2rem;
}

.feedback-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap:2rem;
  align-items: center;

}

.feedback-item span {
  font-size: 1rem;
}

.status{
  color: grey;
}

/* Add more button styles */
/* .add-more {
  background: #f04545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
} */

.add-more:hover {
  background: #d53a3a;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .share-section{
    flex-direction: column;
  }
  .feedback-section{
    flex-direction: column-reverse;
  }
  .share-section-left{
    width: 100%;
  }
  .feedback-section-left{
    width: 100%;
  }
}
