

.feedback-card {
  background-color: #FB432C;
overflow: hidden;
  padding: 20px;
  color: #fff;
 width: 100%;
  /* margin: 20px auto; */
  /* height: 100vh; */

  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.feedback-header {
  text-align: center;
  margin-bottom: 20px;

}

.feedback-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  
}

.post {
  background-color: #333;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
   width: 100%;
margin:0 auto;
 }
.feedback-wrapper{
 width: 80%;

 display: flex;
 gap: 4rem;
 flex-direction: column;
}
.post-info {
  display: flex;
  justify-content: space-between;

}
.post-info-top{
 display: flex;
 flex-direction: column;
}

.post-name {
  font-size: 18px;
  font-weight: bold;
}

.post-time {
  font-size: 12px;
  color: #bbb;
}

.post-feedback p {
  margin: 10px 0;
}

.view-post-btn {
  background-color: #1e1e1e;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.stacked-img{
 display: flex;
 
 
}
.view-post-btn:hover {
  background-color: #444;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
 
}

.action-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #222;
  border-radius: 20px;
  flex-grow: 1;
  margin: 0 5px;
  cursor: pointer;
   flex-direction: column;
   justify-content: flex-start;
}

/* .action-button span:first-child {
  margin-right: 10px;
} */

.action-button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
.action-buttons{
  flex-direction: column;
  gap:2rem;
}
.feedback-header{
  text-align:left;
}
}
