

.feedback-card {
  background-color: #c15933;

  padding: 20px;
  color: #fff;
 width: 100%;
  margin: 20px auto;
  height: 100vh;
}

.feedback-header {
  text-align: center;
  margin-bottom: 20px;

}

.feedback-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color:pink;
}

.post {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-name {
  font-size: 18px;
  font-weight: bold;
}

.post-time {
  font-size: 12px;
  color: #bbb;
}

.post-feedback p {
  margin: 10px 0;
}

.view-post-btn {
  background-color: #1e1e1e;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.view-post-btn:hover {
  background-color: #444;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 5px;
  cursor: pointer;
}

.action-button span:first-child {
  margin-right: 10px;
}

.action-button:hover {
  background-color: #333;
}
